
 /*#tHead {
  padding: 10px;
  margin:0px;
  background: rgb(53, 52, 52);
}*/

body {
    padding: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10px;
    line-height: 100%;
    color: white;
    background: teal;
    /*background-image: url(file:///Users/Swechacha/Desktop/Bootcamp/week1/images/background.jpg);*/
    /*background-position: center;*/
  }


  #top-tabs {
    padding-top: 25px;
    padding-right: 0%;
    overflow: auto;
    margin-bottom: 0px;
    color: rgb(221, 212, 212);
    background: ghostwhite;
    float: left;
    width: 100%;
    height: 60px;

  }

  h2{
    font-size: 20px;
    font-weight: bold;
  }

  #nameBlock{
    float: left;
    margin-left: 20%;
    padding-top: 15px;
    background: teal;
    width: 150px;
    color:white;
    text-align: center;
    height: 20%;
    font-size: 15px;
    font-weight: bold;

  }


  a:link, a:visited {
    background-color: ghostwhite;
    color: darkgrey;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: cornsilk;
}


  #left{
    float: right;
    width: 15%;
    color: gray;
    font-size: 15px;
  }

  #right{
    float: right;
    width: 15%;
    color: gray;
    font-size: 15px;
  }

  #middle{
    float: right;
    width: 15%;
    color: gray;
    font-size: 15px;
    
  }

  .clearfix::after{
    content:"";
    display: block;
    clear: both;

  }


  .container {
    float: left;
    background-image: url(file:///Users/Swechacha/Desktop/Bootcamp/week1/images/background.jpg);
    overflow:auto;
    width:90px;
    height:70%;
    margin-bottom: 10px;
    padding-right:73%;
    padding-left: 20%;
    padding-bottom: 180px;
    padding-top: 20px;
    

  }



 #title{
    font-size: 30px;
    font-weight: bold;
  }

  .aboutBlock { 
    width: 600px;
    height: 300px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top:20px;
    background: white;
    margin-bottom: 5px;
    color: teal;
    text-align: left;
    font-size: 24px;
  }  

  p{
    text-emphasis: none;
  }


  #me{
    float: left;
    margin: 15px;
    padding-right: 5px;
  }
 



  #tFoot {
    clear: both;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 40%;
    padding-right: 40%;
    height: 10%;
    background: rgb(53, 52, 52);
  }